#study-mode .list-header-wrap {
  background: #1c1c1c;
  padding: 0 1rem;
}

#study-mode .list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a2a2a;
  border-radius: 1.4rem;
  height: 6rem;
  padding: 36px;
  color: #fff;
}

#study-mode .list-header .list-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

#study-mode .list-header .list-header-content ion-progress-bar {
  margin: 10px;
  width: 68%;
}

#study-mode .list-header .list-header-content .list-header-content-title {
  color: #ffcd00;
  font-size: 16px;
}

#study-mode .list-content-wrap {
  --background: #1c1c1c;
  --color: #fff;
}

#study-mode .list-content-wrap ion-list {
  background: transparent;
}

#study-mode .list-content-wrap .list-content-title {
  background: #1c1c1c;
  margin: 15px 0;
  display: block;
  font-size: 28px;
  padding-left: 16px;
}

#study-mode .list-content-wrap .list-content {
  display: flex;
  flex-wrap: wrap;
  background: #1c1c1c;
}

#study-mode .list-content-wrap .list-content .list-box {
  width: calc(50% - 10px);
  /* height: 200px; */
  /* border: 1px solid red; */
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#study-mode .list-content-wrap .list-content .list-box ion-icon {
  color: #00618a;
  width: 160px;
  height: 160px;
}
