.button-group {
  display: flex;
  justify-content: space-between;
  font-size: 2px;
}

.button-group ion-button {
  flex-grow: 1;
  margin: 0 5px;
}

/* 调整画布样式 */
.react-canvas-draw {
  margin-bottom: 20px; /* 根据需要调整 */
}

#main-content {
  background: #1c1c1c;
}
#main-content ion-content {
  --background: #1c1c1c;
}

#main-content ion-footer ion-button {
  --color: #1c1c1c;
}

.button{
  font-size: 10px;
  font-weight: bold;
}